


<div background-image-directive="{{ '/images/tribe16.jpg' }}" layout-padding class="form formFont" ng-cloack>



  <div flex layout="row" layout-align="center center" layout-margin layout-fill
       style="min-height: 500px" >

    <div flex-sm="50" flex-gt-sm="40" flex-gt-md="30" flex-gt-lg="30" class="md-whiteframe-14dp">

      <md-content class="md-padding">

        <% if (errors) {%>
        <% errors.forEach(function (error) { %>
        <div class="error"><%=  __(error) %></div>
        <% }) %>
        <% } %>


        <form name="loginForm" role="form" action="/auth/local" method="post" id="loginForm" class="form formFont md-padding" ng-cloak>

          <div flex layout="row" layout-align="center center">
            <div flex="10"></div>
            <md-input-container flex="80"  class="md-block">
              <label>Username or Email</label>
              <input type="text" name="identifier" ng-model="name" required>
              <div class="error">
                <p ng-show="loginForm.identifier.$dirty && loginForm.identifier.$error.required">Username or email is required.</p>
              </div>
            </md-input-container>
            <div flex="10"></div>
          </div>

          <br>


          <div flex layout="row" layout-align="center center">
            <div flex="10"></div>
            <md-input-container flex="80" class="md-block">
              <label>Password</label>
              <input type="password" name="password" ng-model="password" required ng-minlength="10"
                     ng-maxlength="16">
              <div class="error">
                <p ng-show="loginForm.password.$dirty && loginForm.password.$error.minlength">Password is too short.</p>
                <p ng-show="loginForm.password.$dirty && loginForm.password.$error.maxlength">Password is too long.</p>
                <p ng-show="loginForm.password.$dirty && loginForm.password.$error.required">Password is required.</p>
              </div>
            </md-input-container>
            <div flex="10"></div>
          </div>
          <br>

          <!--<button type="submit" >Sign in</button>-->
          <div flex layout="row" layout-align="center center" style="min-height: 50px" class="formFont">
            <div flex="15"></div>
            <md-button type="submit" class="md-primary md-raised" flex="70"
                       md-class="{'md-hue-1:' loginForm.$dirty}">Sign in</md-button>
            <md-button flex="15" href="/register" md-no-ink class="md-primary">Sign Up</md-button>
            <!--<div flex="15"></div>-->
          </div>



        </form>

        <!--<md-button flex="15" href="/register" md-no-ink class="md-primary">Register</md-button>-->

      </md-content>

    </div>

  </div>
</div>
<!--
-->

<%- partial ('../partials/footer.ejs') %>

<!--

<form role="form" action="/auth/local" method="post">
  <input type="text" name="identifier" placeholder="Username or Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign in</button>
</form>

<a href="/register">Register</a>-->

