

<!--<form role="form" action="/auth/local/register" method="post" id="registerForm" class="form">
=======
<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<form role="form" action="/auth/local/register" method="post">
>>>>>>> d3de6d8f7d254edf8000613e0a163684928fa701
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign up</button>
<<<<<<< HEAD
</form>-->



<div class="fPage" background-image-directive="{{ '/images/background2.jpg' }}" layout-padding ng-cloak>

  <div flex layout="row" layout-align="center">

    <div flex-sm="50" flex-gt-sm="40" flex-gt-md="30" flex-gt-lg="30" class="md-whiteframe-z2">

      <md-content md-theme="docs-dark" class="md-padding">

        <!--Response error block-->
        <% if (errors) {%>
        <% errors.forEach(function (error) { %>
        <div class="error"><%=  __(error) %></div>
        <% }) %>
        <% } %>
        <!--End of response error block-->


        <form name="registerForm" role="form" action="/auth/local/register" method="post" id="registerForm" class="form" ng-cloak>

          <div flex layout="row" layout-align="center center">
            <div flex="10"></div>
            <md-input-container flex="80" md-no-float class="md-block">
              <input type="text" name="username" ng-model="username" placeholder="Username" required ng-minlength="6"
                     ng-maxlength="16"><br/>
              <div class="error">
                <p ng-show="registerForm.username.$dirty && registerForm.username.$error.minlength">Username is too short.</p>
                <p ng-show="registerForm.username.$dirty && registerForm.username.$error.maxlength">Username is too long.</p>
                <p ng-show="registerForm.username.$dirty && registerForm.username.$error.required">Username is required.</p>
              </div>

            </md-input-container>
            <div flex="10"></div>
          </div>
          <br>

          <div flex layout="row" layout-align="center center">
            <div flex="10"></div>
            <md-input-container flex="80" md-no-float class="md-block">
              <input type="email" name="email" ng-model="email" placeholder="Email" required>
              <div class="error">
                <p ng-show="registerForm.email.$dirty && registerForm.email.$error.email">Please provide your email.</p>
              </div>
            </md-input-container>
            <div flex="10"></div>
          </div>
          <br>

          <div flex layout="row" layout-align="center center">
            <div flex="10"></div>
            <md-input-container flex="80" md-no-float class="md-block">
              <input type="password" name="password" ng-model="password" placeholder="Password" required ng-minlength="10"
                     ng-maxlength="16">
              <div class="error">
                <p ng-show="registerForm.password.$dirty && registerForm.password.$error.minlength">Password is too short.</p>
                <p ng-show="registerForm.password.$dirty && registerForm.password.$error.maxlength">Password is too long.</p>
                <p ng-show="registerForm.password.$dirty && registerForm.password.$error.required">Password is required.</p>
              </div>
            </md-input-container>
            <div flex="10"></div>
          </div>
          <br>

          <!-- <md-input-container flex layout="row" layout-align="center center">
             <label>Repeat password</label>
             <input type="password" name="RepeatPassword" ng-model="repeatPassword" required>
           </md-input-container>
           <br/>-->

          <!--<button type="submit" >Sign in</button>-->

          <div flex layout="row" layout-align="center center" style="min-height: 50px" class="formFont">
            <div flex="15"></div>
            <md-button type="submit" class="md-primary md-raised" flex="70"
                       md-class="{'md-hue-1:' registerForm.$dirty || registerForm.username.$error.minlength ||
                                  registerForm.username.$error.maxlength || registerForm.password.$error.minlength ||
                                  registerForm.password.$error.maxlength}">Sign Up</md-button>
            <md-button flex="15" href="/login" md-no-ink class="md-primary">Sign In</md-button>
            <!--<div flex="15"></div>-->
          </div>
          <br>

        </form>
      </md-content>

    </div>

  </div>

</div>

<%- partial ('../partials/footer.ejs') %>

</form>

