


    <md-toolbar class="md-primary md-hue-1 md-raised" md-ink-ripple="#FF0000">
        <div class="md-toolbar-tools">
            <div flex layout="row" layout-align="center center" class="headerFont">
                <h1 >Tribes</h1>
            </div>
            <!--<span flex></span>-->
          <!-- <md-button class="md-icon-button" aria-label="More" ng-click="userid()">
                <ng-md-icon icon="logout" style="fill: white" size="24px"
                            options='{"rotation": "counterclock"}'></ng-md-icon>
            </md-button>-->
            <h4>Hi <%= user.username %></h4>
           <!-- <md-button class="md-icon-button" aria-label="More">Logout</md-button>-->
        </div>
    </md-toolbar>

