


    <md-toolbar class="md-primary md-hue-1 md-raised" md-ink-ripple="#FF0000" ng-controller="navbarCtrl" ng-init="setUser('<%= user.username %>','<%= user.id %>')">
        <div class="md-toolbar-tools">
            <div flex layout="row" layout-align="center center" class="headerFont">
                <h1 >{{headerTitle}}</h1>

            </div>


            <h4>{{headerName}}</h4>
           <!-- <md-button class="md-icon-button" aria-label="More">Logout</md-button>-->
        </div>
    </md-toolbar>

