<md-dialog class="fpage" flex-sm="30" flex-gt-sm="40" flex-gt-md="30" flex-gt-lg="30" aria-label="Add a new photo"  ng-controller="photosCtrl" ng-cloak>
    <form name="createPhotoForm" id="photo-form" enctype="multipart/form-data" method="post">
   <!-- <div name="createPhotoForm" id="photo-form"> -->
        <md-toolbar class="md-primary md-hue-1 md-raised" md-ink-ripple="#FF0000">
            <div class="md-toolbar-tools">
                <h2>Add a new photo</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" style="fill: white" size="24px"
                    ></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">


                <div flex layout="row" layout-align="center center" style="min-height: 20px">
                    <div flex="10"></div>
                    <md-input-container flex="80" md-no-float class="md-block">
                        <textarea name="description" class="form-control" md-maxlength="150" rows="2" placeholder="Description" ng-model="description" required md-select-on-focus></textarea>
                        <div class="error">
                            <p ng-show="createPhotoForm.description.$dirty && createPhotoForm.description.$error.required">Description is required.</p>
                        </div>
                    </md-input-container>
                    <div flex="10"></div>
                </div>

                

                <div flex layout="row" layout-align="center center">
                    <div flex="10"></div>
                    <div flex="80"  class="md-block">
                        <input type="file" file-model="myFile" fileread="$parent.uploadme"/>
                       <!-- <img ng-src="{{$parent.uploadme}}" class="dimage md-card-image" alt="Washed Out">-->
                    </div>
                    <div flex="10"></div>
                </div>

                <br>

                <div flex="10"></div>
                <div flex="80"  layout="row" layout-align="center center">
                    <md-button flex layout="row" class="md-primary md-hue-1 md-raised"
                               aria-label="More" md-ink-ripple="#FF0000" ng-click="createNewPhoto()">
                        <ng-md-icon icon="my_library_add" style="fill: white" size="38px"
                        ></ng-md-icon>
                    </md-button>
                </div>
                <div flex="10"></div>

            </div>
        </md-dialog-content>
    <!-- </div> -->
   </form>


</md-dialog>