<!-- Remember that this file will render as the body of the layout file in this directory -->
<h1 id="tribe-name"></h1>
<h2>Available Topics</h2>
<div id="topics"></div>


<!-- This should go in a hidden modal-->
<h1>Create A New Topic</h1>

<form id="topic-form" action="/topic" method="post">
Description: <input type="text" name="description"><br>
<input type="hidden" name="tribes" value="<%= tribeId %>"><br>
<input type="submit" value="New">
</form>



<!-- This must be moved to a different file, left here for example -->
<script>
  $( document ).ready(function() {

    // Get Topics
    $.ajax({
      url: "/tribe/<%= tribeId %>"
    }).done(function( data ) {
      $("#tribe-name").text(data.name);
      $.each(data.topics, function(k,v){
        $("#topics").append(
          "<div class='topic'><a href='/app/topic/"+v.id+"'>"+v.description+"</a></div>"
        );
      });
    });
  });

  $( '#topic-form' )
  .submit( function( e ) {
    $.ajax( {
      url: '/topic',
      type: 'POST',
      data: new FormData( this ),
      processData: false,
      contentType: false
    }).done(function(data){
      $("#topics").prepend(
        "<div class='topic'><a href='/app/topic/"+data.id+"'>"+data.description+"</a></div>"
      );
    });
    e.preventDefault();
  })

</script>
