/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.


.formContainer
{
  background: #99ffcc;

}

.backgroundImage
{
  background-image: url("assets/images/tribe1.jpg");
}

.formFont
{
  font-family: 'Lato', serif;
  font-size: 18px;
}
.footerFont
{
  font-family: 'Lato', serif;
  font-size: 48px;
  color: #9966ff;
}

.divFont
{
  font-family: 'Lato', serif;
  font-size: 48px;
  color: #f2f2f2;
}

.headerFont
{
  font-family: 'Lato', serif;
  font-size: 48px;
}

.backgroundColorGray
{
  background-color: #f2f2f2;
}

.error
{
  color:red;
  font-family: 'Lato', serif;
  font-size: 12px;
}

//make md-button stick to buttom-right corner
.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 10px;
  bottom: 30px;
  left: auto;
  position: fixed;
}



//Image control size
.dimage {
  //max-width: 300px;
  //min-width: 20px;
  //max-height: 300px;
  //min-height: 20px;
  //width:250px;
  //height:250px;
  width:100%;
  height:100%;
}

.smallImage{
  width:50px;
  height:50px;
}

//Modal css
.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

  .fPage
  {
    height:70%;
    overflow: auto;

  }


  md-input-container {
    margin: 0px;
    padding: 0px;
} 

.md-body{
  overflow-y: hidden !important;
}

.myCard{

width:90%;
max-width:90%;
text-align: justify;  
}

html, body {
    height: 100%;
    width: 100%;
}
html {
    overflow: auto;
}







/*Navbar bootstrap*/

.navbar-default {
  background-color: #6c74b2;
  border-color: #a9b6d4;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #6c74b2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #a9b6d4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #a9b6d4;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #a9b6d4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #a9b6d4;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #a9b6d4;
}
.navbar-default .navbar-toggle {
  border-color: #a9b6d4;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a9b6d4;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #a9b6d4;
  }
}