<form action="/photo/upload" enctype="multipart/form-data" method="post">
Description: <input type="text" name="description"><br>
<input type="hidden" name="owner" value="0"><br>
<input type="hidden" name="topic" value="0"><br>
<input type="file" name="photo" multiple="multiple"><br>
<input type="submit" value="Upload">
</form>
